" ------------------------------------------------------------------------------
" ADDED BY NATHAN S. WATSON-HAIGH
" ------------------------------------------------------------------------------
set background=dark
